$theme-color: #E4393C;
$color-upload: #fdf5f5;
$color-font-base: #1d1f22;

$fontsize-xs: 0.18rem;
$fontsize-sm: 0.2rem;
$fontsize-md: 0.28rem;
$fontsize-lg: 0.36rem;




$white: #FFFFFF;


$box-shadow-base: 1px 1px #D9D9D9;


$color-background-base: #44474d;


/*top-bar*/
$topbar-background-color:$color-background-base
