.van-dropdown-menu {
  display: block;
  width: 100px;
  float: right;

  &/deep/ .van-dropdown-menu__bar {
    height: 30px;
  }
}

.wrapper {
  height: 82vh;
  overflow: hidden;
  background: #eee;
  overflow-y: scroll;
}

.content {
  height: max-content;
  color: #7d88a6;
}

.wrapper4 {
  height: 76vh;
  overflow: hidden;
  background: #eee;
  overflow-y: scroll;
}

.pic {
  float: left;
}

.van-step__title {
  width: 13vh;
}